body {
    background-color:antiquewhite;
    font-family: Arial;
}

.header {
    border-style: solid;
    background-color:rgb(239, 239, 239);
    border: 1px solid black;
}

.button {
    height:100%;
    background-color:white;
    border: 1px solid black;
    transition-duration: 0.4s;
    cursor: pointer;
}

.new-note:hover {
    background-color: green;
    color: white;
}

.save-all-notes:hover {
    background-color:greenyellow;
}

.delete-all-notes:hover {
    background-color: rgb(134, 0, 0);
    color: white;
}

.save-note:hover {
    background-color: greenyellow;
}

.delete-note:hover {
    background-color: red;
    color:white;
}

.header-filename {
    display: flex;
}

.note-container {
    margin: 20px auto;
    color:black;
}

.note-box {
    height: 350px;
    font-size: 16px;
    font-family: Arial;
    background-color:blanchedalmond;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    position: absolute;
}

.title {
    width: 400px;
    height:32px;
    color:black;
}

.content {
    width:400px;
    height:280px;
    color:black;
}